/* th {
  color: black;
}
td {
  color: black;
}
span {
  color: black;
}
p {
  color: black;
}
a {
  color: black;
}
.navbar {
  border: 1px solid black;
  background: peachpuff;
}
h1 {
  color: white;
}
h2{
    color: white
} */
th{
    color:white
}